# {{ project_name }}

{{ description }}

## Development

```bash
git clone https://github.com/{{ github_username }}/{{ project_slug }}.git
cd {{ project_slug }}
make install-dev
```

## Development Commands

```bash
make test          # Run tests
make test-cov      # Run tests with coverage
make lint          # Run linting
make format        # Format code
make qa            # Run all quality checks
```
